<footer>
  <div class="footer__top">
    <div class="wrapper">
      <div class="footer__info">
        <div>Address: 1388 Boulevard de Maisonneuve O, Montréal, QC H3G 1M6</div>
        <div>Contact: (514) 286-0110</div>
        <div>Hours: Mon - Fri 11am to 11pm</div>
        <div>Email: service@justabite.com</div>        
      </div>
      <div class="footer__right">
          <div class="social__medias">Just A Bite!</div>
          <div><a href="#" target="_blank">Facebook</a> / <a href="#">Instagram</a> /  <a href="#">Youtube</a></div>
      </div>
    </div>
  </div>
  <div class="copyright">
    Copyright © 2020 Just A Bite All Rights Reserved.
  </div>
</footer> 