<!doctype html>
  <head>
    <%- include('template/head') %>
  </head>
<html>
  <body>
    <%- include('template/navbar') %>
    <section class="banner banner-index">
      <h1>Just A Bite!</h1>
    </section>
    <div class="wrapper">
      <section class="section">
        <title>We love light meals</title>
        <p class="intro">
          In fact, finding the time, effort, 
          and energy to create healthy meals that your kids will actually eat can feel downright impossible.
        <br>
        But even the pickiest of eaters will love these healthy dinners, 
        so before you know it the following light, easy recipes will be part of dinner rotation with no complaints.
        <br>
        Just a bite will never disappoint you, 
        with the charm of cuisine, we hope you enjoy your meals every day.
        </p>
        <div class="buttons">
          <div class="button btn-order"><a href="/menu">Menu</a></div>
          <div class="button btn-query"><a href="/order">Order</a></div>
        </div>
      </section>
    </div>
    <section class="section">
      <title>Menu</title>
      <div class="menu">
        <div><img src="images/homepage/dish-1.png"/></div>
        <div><img src="images/homepage/dish-2.png"/></div> 
        <div><img src="images/homepage/dish-3.png"/></div> 
        <div><img src="images/homepage/dish-4.png"/></div> 
      </div>
    </section>
    <div class="wrapper">
      <section class="section">
        <title>Reviews</title>
          <div class="comments">
            <div class="review">
                <div class="avatar"><img src="images/homepage/avatar-1.png"></div>
                <p class="reviewer">Dr. Sun Yat-sen</p>                
                <p class="content">
                  I was busy for the revolution in my whole life. 
                  I've been to Japan and Europe, but I've never been to Taipei 101. 
                  With just a bite restaurant, I feel like home!
                </p>
            </div>
            <div class="review">
              <div class="avatar"><img src="images/homepage/avatar-2.png"></div>
              <p class="reviewer">Psyduck</p>
              <p class="content">
                Three pairs of shoes added together equal thirty. 
                Two persons plus a pair of shoe equal 20.
                I would like some ice cream, and then $#%$#%^%$^##$, sigh...
              </p>
            </div>
            <div class="review">
              <div class="avatar"><img src="images/homepage/avatar-3.png"></div>
              <p class="reviewer">Travel Frog</p>
              <p class="content">
                After quack quack quack quack quack, I quack quack quack quack quack.
                Thank you quack quack quack quack quack, I will quack quack quack quack quack!
              </p>
            </div>
          </div>
      </section>
    </div>
    <div class="wrapper">
      <section class="section">
        <title>Find Us</title>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2796.620067613369!2d-73.57980948444143!3d45.497595079101316!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cc91a41d87da45d%3A0xc35893ba40d48988!2s1388%20Boulevard%20de%20Maisonneuve%20O%2C%20Montr%C3%A9al%2C%20QC%20H3G%201M6!5e0!3m2!1sen!2sca!4v1644438994406!5m2!1sen!2sca" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </section>
    </div>
    <%- include('template/footer')%>
  </body>
</html>
