<!doctype html>
  <head>
    <%- include('template/head') %>
  </head>
<html>
  <body>
    <%- include('template/navbar') %>
      <div class="web__construction">Web Construction</div>
    <%- include('template/footer')%>
  </body>
</html>