* {
	margin: 0;
	box-sizing: border-box;
}

body {
	background: #f7f7f7;
}

.warning {
	background: #ffc4c6;
	color: #a20606;
	padding: 10px;
	text-align: center;
	font-weight: 600;
	font-size: 24px;
}

.error {
	color: #a20606;
}

.board {
	background: white;
	width: 100%;
	max-width: 700px;
	margin: 20px auto;
	padding: 30px;
	box-shadow: 1px 1px 3px #e8e8e8;
	border-radius: 5px;
}

h1 {
	font-weight: 100;
}

h3 {
	margin: 20px 0;
}

.board__title {
	margin: 20px 0;
}

.board__new-comment-form textarea {
	width: 100%;
	padding: 10px;
	border: 1px solid #c2dffb;
}

.board__nickname {
	margin: 10px 0;
}

.board__nickname input {
	border: 1px solid #c2dffb;
	padding: 5px;
}

.board__submit-btn {
	padding: 10px;
	border: 1px solid #c2dffb;
	border-radius: 5px;
	color: black;
	background: white;
	width: 100px;
	font-size: 16px;
	margin-top: 10px;
}

.board__btn {
	padding: 10px 30px;
	border: 1px solid #c2dffb;
	border-radius: 5px;
	color: black;
	font-size: 16px;
	text-decoration: none;
	min-width: 20px;
	display: inline-block;
	margin-bottom: 10px;
	cursor: pointer;
}

.hide {
	display: none;
}

.board__hr {
	margin: 10px auto;
	height: 1px;
	background: #e8e8e8;
	max-width: 95%;
}

.card {
	margin: 20px 0;
	min-height: 70px;
	display: flex;
}

.card__avatar {
	min-width: 50px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #e4f0fb;
}

.card__body {
	margin-left: 10px;
}

.card__content {
	margin-top: 8px;
	max-width: 100%;
	word-break: break-word;
	white-space: pre-line;
}

.card__author {
	color: #5c9edc;
	font-weight: 600;
}

.card__time {
	color: #bbb;
}

.page-info {
	text-align: center;
}

.paginator {
	display: flex;
	justify-content: center;
	margin-top: 10px;
}

.paginator a {
	text-decoration: none;
	color: #5c9edc;
	border: 1px solid #5c9edc;
	padding: 10px;
	border-radius: 5px;
	margin-right: 5px;
}

table {
	border: 1px solid #666;
	border-collapse: collapse;
}

table td, th {
	border: 1px dashed #ccc;
	border-collapse: collapse;
	padding: 8px;
}

td a {
	text-decoration: none;
	cursor: pointer;
	color: #888;
}

.back_to_index {
	text-decoration: none;
	margin: 20px 0;
}